TRIGOWIKI_DB_ROOT_PASSWORD=change-me
MEDIAWIKI_SECRET_KEY=change-me
STAGING_DB_ROOT_PASSWORD=change-me
STAGING_MEDIAWIKI_SECRET_KEY=change-me
STAGING_HTTP_PORT=8081
STAGING_MEDIAWIKI_SERVER=http://brisen:8081
